.profile img{
    border-radius: 50%;
    position:absolute;
    top:250%;
    left:175%;
    width: 250px;
    height: 250px;
}

.profileText{
    margin-left: 35%;
    margin-top: 4%;
    font-size: xx-large;
}

.profileText p{
    font-size:200%;
    line-height: 60px;
}

.lesserText p{
    margin-top: 7%;
    margin-left: 1%;
    font-size: x-large;
    line-height: 0px;
}

.buttons a{
    text-decoration: none;
    color:brown;
    font-size: x-large;
}

.buttons{
    position: absolute;
    left:35.7%;
    top:53%;
}

.signOut{
    position: absolute;
    top:150%;
    left:0%;
}