.ownWorkoutTitle{
    font-size: 200%;
    position: absolute;
    top:18%;
    left:44%;
    font-weight: bolder;
}

.ownWorkout{
    text-decoration: none;
    color: brown;
    font-size: 125%;
}

.shownWorkouts{
    position: absolute;
    top:40%;
    left:15%;
}

.deleteButton{
    margin-left: 50px;
}

.mineButton{
    position: absolute;
    left:38.5%;
    top:27.5%;
    width:10%;
}

.savedButton{
    position: absolute;
    right:38.5%;
    top:27.5%;
    width:10%;
}

.shownWorkouts p{
    font-size: 150%;
    font-weight: bolder;
}
