.ownWorkoutTitle{
    font-size: 200%;
    position: absolute;
    top:18%;
    left:39%;
    font-weight: bolder;
}

.ownWorkout{
    text-decoration: none;
    color: brown;
    font-size: 125%;
}

.ownWorkouts{
    position: absolute;
    top:30%;
    left:15%;
}

.deleteButton{
    margin-left: 50px;
}