.loginTitle {
    position: absolute;
    font-size: 250%;
    top: 150px;
    left: 100px;
}

.signInCreds {
    font-size: 100%;
    margin-top: 175px;
    margin-left: 100px;
}

.submitButton {
    position: absolute;
    font-size: 100%;
    margin-top: 25px;
    margin-left: 100px;
}

.signupButton {
    position: absolute;
    font-size: 100%;
    margin-top: 150px;
    margin-left: 100px;
}

.usernameField{
    margin-left: 1%;
    width:30%;
}

.psswdField{
    margin-left: 1%;
    width:30%;
}