.loginTitle {
    position: absolute;
    font-size: 200%;
    top: 200px;
    left: 725px;
}

.signInCreds {
    font-size: 100%;
    margin-top: 200px;
    margin-left: 650px;
}

.submitButton {
    font-size: 100%;
    margin-top: 25px;
    margin-left: 775px;
}